p, li, a, button {
  font-family: $font-one;
  font-size: 18px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-two;
  font-weight: bold;
  line-height: 1.8em;
}

h1, h2, h3 {
  color: $colour-one;
}

h2:hover {
  color: $colour-one-highlight;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

button, .button {
  color: white;
  font-weight: bold;
  // font-size: 1.2em;
  // margin-top: .6em;
}
