p, li, a, button {
  font-family: $font-one;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-two;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
}

button, .button {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: .6em;
}
