@import "helper/_variables.scss";

// import partials
@import "partials/_typography.scss";

.navbar {
  border-bottom: 3px solid $colour-one;
}

.button {
  background-color: $colour-two;
  margin-bottom: 2em;
}

.treatment-article {
  margin-bottom: 2em;
}

span.treatment-completed-button {
  background-color: $colour-two;
  color: white;
  font-weight: bold;
  padding: .1em .7em;
  border-radius: 8%;
  margin-left: 1em;
}

span.treatment-completed-button:hover {
  background-color: $colour-two-highlight;
  cursor: pointer;
}

.home-page {
  margin-top: 2em;
  padding: 2em;
}

footer, footer.footer {
  margin-bottom: 0;
}

section {
  margin-bottom: 3em;
}
