@import "helper/_variables.scss";

// import partials
@import "partials/_typography.scss";

.navbar {
  border-bottom: 2px solid $colour-one;
}

.button {
  background-color: $colour-one;
}

.treatment-article {
  margin-bottom: 2em;
}

span.treatment-completed-button {
  background-color: $colour-two;
  color: white;
  font-weight: bold;
  padding: .1em .4em;
  border-radius: 8%;
  margin-left: 1em;
}
